:root {
    --boxorline: 150px;
    --boxorlineele: '';
}

.boxelements{
    display: var(--boxorlineele);
}

.word{
    float: left;
    background-color: grey;
    border-style: solid;
    width:150px;
    height: var(--boxorline);
    margin:5px;
    padding: 10px;
}