:root {
    --boxorline: 150px;
    --boxorlineele: block;
    --size: 150px;
    --fsize: 15px;
}

.boxelements{
    display: var(--boxorlineele);
}

.word{
    float: left;
    background-color: grey;
    border-style: solid;
    font-size: var(--fsize);
    width: var(--size);
    height: var(--boxorline);
    margin:5px;
    padding: 10px;
}

#zoomin, #zoomout{
    margin-top:10px;
    margin-left:10px;
    width: 30px;
    height: 30px;
}