:root {
    --boxorline: 450px;
    --boxorlineele: block;
    --size: 450px;
    --fsize: 45px;
}

.boxelements{
    display: var(--boxorlineele);
}

.word{
    float: left;
    background-color: grey;
    border-style: solid;
    width: var(--size);
    height: var(--boxorline);
    margin:5px;
    padding: 10px;
}

#zoomin, #zoomout{
    margin-top:10px;
    margin-left:10px;
}

body, button, #searchbar{
    font-size: var(--fsize);
}
